.user-details {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
  width: 100%;
  background: #000;
  padding: 2rem;
  opacity: 0.9;
  &.active {
    display: flex;
  }
  &-content {
    display: flex;
    padding: 2rem;
    position: relative;
    flex-direction: column;
    border: 10px solid #000;
    border-radius: 20px;
    width: 80%;
    background: #fff;
    &-map {
      width: 100%;
      position: relative;
    }
    h3 {
      text-align: center;
      font-weight: 700;
    }
    &-close {
      position: absolute;
      right: 16px;
      top: 16px;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
